.search-form {
  box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
}

.search-button:hover {
  opacity: 0.9;
}


.result-card:hover {
  transform: translateY(-5px);
  transition: 0.2s ease-in-out;
}

.no-results {
  font-style: italic;
}
